*{
	margin: 0;	
	padding: 0;
}
body{
	background-color:white;
	margin: 0;
    padding: 0;
    background: url('image/1.jpg') no-repeat;
    background-repeat: no-repeat;
    background-attachment:fixed;
     filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image/1.jpg', sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image/1.jpg', sizingMethod='scale');
	background-position:center center;
}
.link {
	padding: 30px 30px 20px 30px; 
	background-color: #f3f3f3 ;
	border: 1px solid #ccc; 
	font-family: verdana;
	width: 400px;
	margin: 0 auto;
	margin-top: 100px;
	background-color:rgba(243,243,243,0.5);
}

input { display: block; width: 340px; margin: 3px 0px 20px 20px; padding: 5px;}
label {font-weight: normal; font-size: 15px; display: block;margin-left:20px;}
button {background-color: #ccc; color: #000; border: 1px #f4f4f4 solid; margin: 12px 0px; box-shadow: 0 3px 2px #AAA; margin-right: 5px; padding: 5px 20px; font-weight: bold;}
