@CHARSET "UTF-8";

*{
	margin:0;
}
body{
	margin:0;
	font-family: Arial, 'Microsoft YaHei', 'STHeiti';
	width: auto;
	height: auto;	
}

.clear{
	clear: both;
}
.modle-container{
	height:auto;
	clear: both;
	overflow:hidden;

}
.headerTop{
	width: auto;
	height: 60px;
	padding-right: 10px;
    background-color: #4c8ae4;

}
.header-container-left{
	margin-top:18px;
	float: left;
	margin-left: 40px;
	margin-right: 8%;
	font-size: 19px;
	color: white;
	font-weight: bold;
}
.header-container-left i{
	color: white;

}
.header-container-right{
	float: right;
	padding-top: 10px;
}
.header-list{
	width: 300px;
	height: 40px;
	float: left;
}
.header-lix{
	width: 80px;
	height: 40px;
	float: left;
	text-align: center;
	line-height: 40px;
	color: white;
	font-size: 15px;
}
.header-lix a{
	width: 80px;
	height: 40px;
	list-style:none;
	text-decoration: none;
	color: white;
	display: block;
}
.header-lix a:hover{
	width: 80px;
	height: 40px;
 	box-shadow: inset 0 0 10px rgba(225, 225, 225, 0.5);
 	list-style:none;
	text-decoration: none;
}
.header-li-boxx1{
	color: white;
}
.header-li-boxx1 i{
	color: white;
	margin-right: 5px;
}
.header-li-box2{
	margin-right:15px;
	width: 20px;
	height:20x;	
	text-align: center;
	font-family: Arial, 'Microsoft YaHei', 'STHeiti';
	font-size: 25px;
	float: left;
}
.content{
	width: 1350	px;
	height:600px;
	padding-left: 0px;
	padding-right: 0px;
    background-color: white;
    clear: both;
}
.content_left{
	width: 220px;
	height: 623px;
    background-color: #37474f;
    clear:both;
    float: left;
}
.content_leftf{
	width: 220px;
	height: 523px;
    background-color: #37474f;
    clear:both;
    float: left;
}
.content_left-box1{
	margin-top: 14px;
	margin-left: 30px;
	margin-right:15px;
	width: 15px;
	height:15x;	
	font-size: 22px;
	float: left;
	color:#dfe1e2;	
}
.content_left-box1 i{
	color: white;
}
.content_leftbox{
	width: 150px;
	height: 56px;
    color:#dfe1e2;
	font-size: 15px;	
	line-height: 56px;
	float: left;
}
.content_left a{
	width: 220px;
	height: 56px;
	list-style:none;
	text-decoration: none;
	display: block;
}
.content_left a:hover{
	width: 220px;
	height: 56px;
	background-color: #657f8c;

}
.content_right{
	width: 1015px;
	height:550px;
    float: right;
    margin-top: 25px;
    margin-right: 35px;
    box-shadow:-1px 0px 15px #ddd;
    padding: 25px;
}
.content_rightf{
	width: 1015px;
	height:450px;
    float: right;
    margin-top: 25px;
    margin-right: 35px;
    box-shadow:-1px 0px 15px #ddd;
    padding: 25px;
}
.content_rightbox1{
	width: 1015px;
	height:50px;
	border-bottom:1px solid #ddd; 
}
.content_rightbox_left{
	width: 400px;
	height:50px;
	float: left;	
}
.content_rightbox11{
	font-size: 20px;
	color:#4d4f51;
}
.content_rightbox12{
	margin-top: 2px;
	font-size: 12px;
	color: #9a9d9e;
}
.content_rightbox_right{
	width: 400px;
	height:50px;
	float: right;
}
.input1{
	width:200px;
	margin:50px;
	float:right;
}
.content_rightbox2{
	margin-top: 25px;
	width: 1015px;
	height:40px;
}
.content_rightbox21{
	width: 100px;
	height:40px;
	text-align: center;
	border-radius:5px;
	border-top:2px solid #4c8ae4; 
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	line-height: 40px;
	font-size: 16px;
	color:#7d7e7f;
	float: left;
}
.content_rightbox22{
	width: 912px;
	height:40px;
	border-bottom:1px solid #ddd; 
	float: left;
}
.content_rightbox3{
	margin-top:15px;
	width: 1015px;
	height:40px;
	
}
.butt{
	width: 105px;
	height: 40px;
	border-radius:5px;
	background-color: #6ba3f5;
	border: none;
	font-size: 15px;
	color: white;
}
.info_box1{
	margin-top:20px;
	margin-left:140px;
	width: 800px;
	heidht:480px;
}
.info_box2{
	margin-top:20px;
	margin-left:140px;
	width: 800px;
	heidht:480px;
}
.info_box3{
	margin-top:50px;
	margin-left:140px;
	width: 800px;
	heidht:380px;
}

.typebox1{
	width: 700px;
	height: 110px;
	padding:10px;
	border: 1px solid #6ba3f5;
	border-bottom: none;
}
.writebox{
	width: 210px;
	height: 30px;
	margin-right: 10px;
	float: left;
}
.writebox_text input{
	border:none;
	border-bottom: 1.3px solid #6ba3f5;
	line-height: 22px;
}
.writebox_title{
	width: 100px;
	height: 30px;
	float: left;
	margin-left: 3px;
}
.writebox_text{
	width: 50px;
	height: 30px;
	float: left;
}

.writeboxf{
	width: 220px;
	height: 50px;
	margin-right: 10px;
	float: left;
	
}
.writeboxf_title{
	width: 100px;
	height: 30px;
	float: left;
	margin-left: 3px;
	font-size:15px;
}
.writeboxf_text{
	width: 50px;
	height: 30px;
	float: left;
}

.writeboxf_title1{
	width: 76px;
	height: 30px;
	float: left;
	margin-left: 3px;
	padding-top:3px;
	font-size:15px;
}
.writeboxf_text1{
	width: 120px;
	height: 30px;
	float: left;	
}
.writebox_title1{
	width: 60px;
	height: 30px;
	float: left;
	margin-left: 3px;
	padding-top:3px;
}
.writebox_text1{
	width: 120px;
	height: 30px;
	float: left;
	
}
.textwritef{
	width: 120px;
}
.textwrite2{
	hegit: 25px;
	border:none;
	border-bottom: 1.3px solid #6ba3f5;
	line-height: 22px;
}
.textwrite{
	width: 100px;
}
.typebox2{
	width: 700px;
	height: 50px;
	padding:10px;
	border: 1px solid #6ba3f5;
	border-top:none;
	border-bottom:none;
}
.typetitle{
	width: 700px;
	height: 30px;	
}
.typetitlef{
	width: 700px;
	height: 30px;	
	margin-top:10px;
	margin-bottom:15px;
	font-size:16px;
}
.faretypef{
	width: 90px;
	height: 28px;
	border: 1px solid blue;
	text-align: center;;
}	
.faretype{
	width: 80px;
    height: 20px;
    line-height: 20px;
    border-top: 2px solid #6ba3f5;
    border-bottom: 2px solid #6ba3f5;
    border-radius: 20px;
    text-align: left;
    padding-left: 7px;
}	
.typebox3{
	width: 700px;
	height: 20px;
	padding:10px;
	border: 1px solid #6ba3f5;
	border-top:none;
	border-bottom:none;
}
.typebox4{
	width: 700px;
	height:80px;
	padding:10px;
	border: 1px solid #6ba3f5;
	border-top:none;
	border-bottom:none;
}
.textwrite1{
	width: 180px;
}
.textwrite2{
	float:left;
}
.typebox5{
	width: 800px;
	height:30px;
	margin-top: 10px;
}
.typebox5 button, .cfare {
	font-size:15px;
	line-height:20px;
	height:25px;
	width:90px;
	background:#ffffff;
	border:1px solid #c8c8c8;
	color:black;
}
.typebox5 button:hover, .cfare:hover{
	border:1.3px solid #6ba3f5;
}
.typebox6{
	width: 700px;
	height:48px;
	padding:10px;
	border: 1px solid #6ba3f5;
	border-bottom:none;
}
.typebox7{
	width: 700px;
	height:227px;
	padding:10px;
	border: 1px solid #6ba3f5;
	border-top:none;
	border-bottom:none;
}
.typebox8{
	width: 700px;
	height:270px;
	padding:25px;
	border: 1px solid #6ba3f5;
}
.form1{
	width: 700px;
	height:480px;
}
.content_rightbox4{
	margin-top: 15px;
}
.table1{

	width: 1015px;
	height: 250px;
	text-align: center;
}
.tabletitle{
	height: 50px;
	font-size: 15px;
	background-color: #fcfafa;
}
.tabletext{
	font-size:14px;
	height: 45px;
}
.tabletext :hover{
	font-size:14px;
	background-color: #e9f1f5;
}

.textcolor{
	color: #5a97f1;
}

#edit{
	margin-left:150px;
}
#passsucess{
	width:100px;
	hegiht:30px;
	margin-left:341px;
}
#question{
	width:100px;
	hegiht:30px;
}
